body{
  font-family: sans-serif;
  font-size: 20px;
}
input, button{
  font-size: 20px;
  border: none;
  padding: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.23);
  margin: 10px;
}

#gamelist{
  margin: 10px;
}
